#first get the files
wget ftp://ftp.fec.gov/FEC/2016/ccl16.zip
wget ftp://ftp.fec.gov/FEC/2016/cm16.zip
wget ftp://ftp.fec.gov/FEC/2016/cn16.zip
wget ftp://ftp.fec.gov/FEC/2016/indiv16.zip
wget ftp://ftp.fec.gov/FEC/2016/oppexp16.zip
wget ftp://ftp.fec.gov/FEC/2016/oth16.zip
wget ftp://ftp.fec.gov/FEC/2016/pas216.zip
wget ftp://ftp.fec.gov/FEC/2016/weball16.zip
wget ftp://ftp.fec.gov/FEC/2016/webk16.zip
wget ftp://ftp.fec.gov/FEC/2016/webl16.zip

#now unzip them
unzip '*.zip'
